alembic==1.6.5
appnope==0.1.2
arrow==1.1.0
birdy==0.3.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==41.0.6
cycler==0.10.0
dataset==0.6.1
decorator==4.0.6
enum34==1.1.1
gnureadline==8.0.0
greenlet==1.1.0
idna==2.10
ipaddress==1.0.15
ipython==4.0.1
ipython-genutils==0.1.0
kiwisolver==1.1.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==3.1.1
ndg-httpsclient==0.4.0
normality==0.2.4
numpy==1.20.3
oauthlib==3.1.1
pandas==1.2.4
path.py==8.1.2
pexpect==4.8.0
pickleshare==0.5
ptyprocess==0.5
pyasn1==0.1.9
pybind11==2.6.2
pycairo==1.20.1
pycparser==2.14
PyGObject==3.40.1
pyOpenSSL==0.15.1
pyparsing==2.4.5
python-dateutil @ file:///private/tmp/graph-tool--python-dateutil-20210110-55532-tlvlyu/python-dateutil-2.8.1
python-editor==0.5
pytz==2019.3
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
scipy==1.6.3
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.4.18
traitlets==4.0.0
-e git+git@github.com:tekhnus/misc.git@966eed77db7c0ef929cc41e084796986272c1f1d#egg=twitterology&subdirectory=boring/twitterology
urllib3==1.26.5
zstandard==0.14.0
